

svg {
  font-family: monospace;
}

.node circle {
  fill: lightgray;
  stroke: black;
  stroke-opacity: 0.5;
  cursor: pointer;
}

.node text {
  text-anchor: middle;
}

.node .delete-icon {
  cursor: pointer;
  padding-left: 50px;
  opacity: 0.8;
}

.link { stroke: #999; stroke-opacity: .6; stroke-width: 2px; }

  .input {
    margin-top: 10px;
  }
  
  
  .overlay {
    fill: transparent;
  }
  
  .toolbar {
    display: none;
    position: absolute;
    top: 12px;
    left: 480px;
    width: 240px;
    margin-left: -120px;
    text-align: center;
  }
  
  .tool:not(:last-child) {
    margin-right: 10px;
  }
  
  .tool {
    fill: #a3a4c3;
    cursor: pointer;
  }
  .tool.active {
    fill: #b52d0c;
  }
  


  body {
    text-align: center;
}



.char {
    width: auto;
    height: auto;
}

.edge {
    stroke: #bdc3c7;
    stroke-opacity: 0.6;
    stroke-width: 2px;
    fill: transparent;
}

.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.current-node {
    fill: #1abc9c;
}

.hero-body {
  background-color: #00d1b2;
}

.tabs {
  background-color: #00d1b2;
}

